@import url(./__copyright/footer__copyright.css);

.footer{
    background-color: black;
    max-width: 318px;
    padding-bottom: 60px;
    }

@media screen and (max-width: 890px){
        .footer{
          text-align: center;
          margin: 0 auto;
        }
    }


@media screen and (max-width: 650px){
        .footer{
            text-align: left;
            padding: 0 19px 30px 19px;
        }
    }